# Introduction

The goal of this project is to analyze biodiveristy data from some of the US's National Parks.

This report will clean, plot, and analyze data to explain the findings of the analysis.


Here are the questions this report will answer:
1.  Are certain types of species more likely to be endangered than others?
2.  What is the distribution of each conservation status?
3.  Which species is most prevalent across the parks?

**Data sources:**

Both `Observations.csv` and `Species_info.csv` was provided by [Codecademy.com](https://www.codecademy.com).

Note: The data for this project is *inspired* by real data, but is mostly fictional.

### Scope

**Project Goals**

The goal of this project is to analyze data provided by Codecademy.  The National Parks Service wants to know the relationship between species location and their conservation status so they know how to provide for more endangered species to maintain the current level of biodiversity in its parks. 

**Data**

`Observations.csv`
- scientific_name
- park_name
- observations

`Species_info.csv`
- category
- scientific_name
- common_names
- conservatoin_status

#### Importing Python packages

In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

#### Loading the Data

In [4]:
#Observations
observations = pd.read_csv('observations.csv', encoding='utf-8')

observations.head(10)

,scientific_name,park_name,observations
0,Vicia benghalensis,Great Smoky Mountains National Park,68
1,Neovison vison,Great Smoky Mountains National Park,77
2,Prunus subcordata,Yosemite National Park,138
3,Abutilon theophrasti,Bryce National Park,84
4,Githopsis specularioides,Great Smoky Mountains National Park,85
5,Elymus virginicus var. virginicus,Yosemite National Park,112
6,Spizella pusilla,Yellowstone National Park,228
7,Elymus multisetus,Great Smoky Mountains National Park,39
8,Lysimachia quadrifolia,Yosemite National Park,168
9,Diphyscium cumberlandianum,Yellowstone National Park,250

In [5]:
#Species
species = pd.read_csv('species_info.csv', encoding='utf-8')

species.head(10)

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN
5,Mammal,Odocoileus virginianus,White-Tailed Deer,NaN
6,Mammal,Sus scrofa,"Feral Hog, Wild Pig",NaN
7,Mammal,Canis latrans,Coyote,Species of Concern
8,Mammal,Canis lupus,Gray Wolf,Endangered
9,Mammal,Canis rufus,Red Wolf,Endangered

#### What does the data look like?

In [15]:
unique_species = observations.scientific_name.nunique()
print("Unique species count: " + str(unique_species))

unique_parks = observations.park_name.nunique()
print("Number of parks: " + str(unique_parks))
print("Parks: ")
list=1
for i in observations.park_name.unique():
    print(str(list) + ". " + i)
    list += 1

Unique species count: 5541
Number of parks: 4
Parks:
1. Great Smoky Mountains National Park
2. Yosemite National Park
3. Bryce National Park
4. Yellowstone National Park